@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'stylish-portfolio';

.navbar{
  background-color: black;
}

.wrapper {
  margin-top: 51px;
}

.i{
  background-color: black;
}

#top{
  height: 707px;
}

#error_explanation {
  border: 1px solid red;
  height: 50px;
  width: 100%;
}
