@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'stylish-portfolio';

.navbar{
  background-color: black;
}

.wrapper {
  margin-top: 51px;
}

.i{
  background-color: black;
}

#top{
  height: 707px;
}

.h1,.h2,.h3,.h4{
  font-family: "Rokkitt","Helvetica Neue",Helvetica,Arial,sans-serif;
}
